
<!-- Full Page Intro -->
<div class="view full-page-intro" style="background-image: url('http://cdn.makezine.com/uploads/2012/08/edisons-cradle1.gif'); background-repeat: no-repeat; background-size: cover;">

  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

    <!-- Content -->
    <div class="container">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4 white-text text-center text-md-left">
          <h1 class="display-5 font-weight-bold">We are happy you are here</h1>
          <hr class="hr-light">

          <p>
            <strong>Experience classes like never before</strong>
          </p>

          <p class="mb-4 d-none d-md-block">
            <strong>Connect to your peers, learn with others in real time, discuss problems
              and much more.
            </strong>
          </p>

          <a routerLink="/login" class="btn btn-indigo btn-lg">Existing Member
            <i class="fa fa-graduation-cap ml-2"></i>
          </a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-xl-5 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">
              
                  

              <!-- Form -->
              <form name="" (submit)="register()">
                <!-- Heading -->
                <h3 class="dark-grey-text text-center">
                  <strong>Register</strong>
                </h3>
                <hr>
                    <div class="md-form">
                      <label for="name">Full Name</label>
                      <input type="text" class="form-control" name="name" [(ngModel)]="credentials.name">
                    </div>
                    <div class="md-form">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" name="email" [(ngModel)]="credentials.email">
                    </div>
                    <div class="md-form">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="credentials.password">
                    </div>
                    <div class="form-check">
                        <fieldset class="form-check">                         
                          <input class="form-check-input" type="checkbox" name="faculty" [(ngModel)]="credentials.faculty" id="facultyCheck">
                          <label for="facultyCheck" class="form-check-label dark-grey-text">
                            Register as Faculty ?
                          </label>
                    </fieldset>
                    </div>            

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Register</button>
                  <hr>
                <p class="lead">Already registered? <a routerLink="/login">Sign in</a> instead.</p>
                </div>

              </form>
              <!-- Form -->

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Content -->

  </div>
  <!-- Mask & flexbox options-->
