<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a member? Please <a routerLink="/login">log in</a> instead.</p>
      <form (submit)="register()">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" type="checkbox" name="faculty" [(ngModel)]="credentials.faculty" id="facultyCheck">
          <label for="facultyCheck">
            Register as Faculty ?
          </label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Register!</button>
        </div>
      </form>
    </div>
  </div>

</div>