<div class="my-view container">
  <!--Main Navigation-->
  <header>
  <!-- 
    <div class"container my-view">

    </div> -->
    
    <!-- Sidebar -->
    <div class="side-nav sidebar-fixed position-fixed">      

        <div class="list-group list-group-flush">
          
            <a href="#" class="list-group-item waves-effect">
                <i class="fa fa-pie-chart mr-3"></i>Virtual Classroom
            </a>
            <a href="#" class="list-group-item waves-effect">
                <i class="fa fa-pie-chart mr-3"></i>Dashboard
            </a>
            <a href="#" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-user mr-3"></i>Find new courses</a>
            <a href="#" class="list-group-item list-group-item-action waves-effect active">
                <i class="fa fa-table mr-3"></i>Profile</a>
        </div>

    </div>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->

<!--Main layout-->
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">
                <h4 class="mb-2 mb-sm-0 pt-1"> Your Profile</h4>
            </div>

        </div>
        <!-- Heading -->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col">
                <div class="card">
                    <div  class="m-4 p-2 border border-primary rounded bg-light">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


                            <div class="panel panel-info">
                                <div class="panel-heading">
                                <h3 class="panel-title">Raju</h3>
                                </div>
                                <div class="panel-body">
                                  <div class="row">
                                      <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="" class="img-circle img-responsive"> </div>
                                      
                                      <div class=" col-md-9 col-lg-9 "> 
                                        <table class="table table-user-information">
                                            <tbody>
                                              <tr>
                                                  <td>Age:</td>
                                                  <td>20</td>
                                              </tr>
                                              <!-- <tr>
                                                  <td>Gender:</td>
                                                  <td>Male</td>
                                              </tr>
                                              <tr>
                                                  <td>Education:</td>
                                                  <td>12th</td>
                                              </tr>
                                              
                                              <tr>
                                                  <td>Phone number:</td>
                                                  <td>8989808980</td>
                                              </tr>
                                              <tr>
                                                  <td>Home Address</td>
                                                  <td>NITK, Surathkal</td>
                                              </tr>
                                              <tr>
                                                  <td>Email</td>
                                                  <td>info@support.com</td>
                                              </tr>
                                                                                         -->
                                            </tbody>
                                      </table>
                                  
                                      </div>
                                  </div>  
                                <div class="m-4">  
                                    <button type="button" class="btn btn-primary"> Edit</button>
                                </div>
                                </div>
                            </div>                      
                        </div>
                    </div>
                </div>
            </div> 
        </div>   
      </div>     
</main>
<!--Main layout-->


 

<!-- 

<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading">Your profile</h1>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full name</label>
          <p class="form-control-static">{{ details?.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ details?.email }}</p>
        </div>
      </div>

    </div>

  </div>
</div> -->