<!-- Full Page Intro -->
<div class="view full-page-intro" style="background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/99/62/8857fa0902ae111.jpg'); background-repeat: no-repeat; background-size: cover;">

  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

    <!-- Content -->
    <div class="container">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4 white-text text-center text-md-left">
          <h1 class="display-4 font-weight-bold">Connect to your peers</h1>
          <hr class="hr-light">

          <p class="mb-4 d-none d-md-block">
            <strong>Convenient way to learn in an unorthodox way.</strong>
          </p>

          <a routerLink="/register" class="btn btn-indigo btn-lg">New User
            <i class="fa fa-graduation-cap ml-2"></i>
          </a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-xl-5 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">

              <!-- Form -->
              <form name="" (submit)="login()">
                <!-- Heading -->
                <h3 class="dark-grey-text text-center">
                  <strong>Sign in</strong>
                </h3>
                <hr>
                <div class="md-form">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email"  [(ngModel)]="credentials.email">
                  </div>
                <div class="md-form">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="credentials.password">
                </div>               

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Sign in!</button>
                  <hr>
                  <p class="lead"><a data-toggle="modal" data-target="#forgotPasswordModel">Forgot password?</a></p>  
                <p class="lead">Not a member? <a routerLink="/register">Register</a> instead.</p>
                </div>

              </form>
              <!-- Form -->

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <div class="modal fade" id="forgotPasswordModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Enter E-mail Id</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="md-form mb-5">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="forgotPasswordInputw" class="form-control" [(ngModel)]="emailForPassword">
                            <label data-error="wrong" data-success="right" for="form34">E-mail Id</label>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button class="btn btn-unique" (click)="mailPassword()">Send mail 
                            <i class="fa fa-paper-plane-o ml-1"></i></button>
                    </div>
                </div>
            </div>
        </div>

      </div>
      <!--Grid row-->

    </div>
    <!-- Content -->

  </div>
  <!-- Mask & flexbox options-->

</div>
<!-- Full Page Intro -->

