<!-- Full Page Intro -->

<!-- <div class="view full-page-intro"  style="background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/99/62/8857fa0902ae111.jpg'); background-repeat: no-repeat; background-size: cover;"> -->
<div>
	<div class="my-view container">

		<main class="my-main mx-lg-5 text-center">

			<div class="container-fluid mt-5">

				<!-- Heading -->
				<div class="card mb-4 wow fadeIn">
					<!--Card content-->
					<div class="card-body d-sm-flex justify-content-between">
						<h4 class="mb-2 mb-sm-0 pt-1">Welcome to {{courseCode}} - {{course.name}}</h4>
						<button type="button" *ngIf="!sessionStatus" class="btn btn-primary" (click)="startSession()">
							<i class="fa fa-tv mr-3"></i>Start Session</button>
						<button type="button" *ngIf="sessionStatus" class="btn btn-danger" (click)="stopSession()">
							<i class="fa fa-stop mr-3"></i>Stop Session</button>
					</div>
				</div>
				<!-- Heading -->


				<div id="meet" class=""></div>

			</div>

			<div class="container-fluid mt-5">

			</div>

			<div class="container-fluid mt-5">

				<!-- Heading -->
				<div class="card mb-4 wow fadeIn">

					<!--Card content-->
					<div class="card-body d-sm-flex justify-content-between">
						<h4 class="mb-2 mb-sm-0 pt-1"> Course Materials</h4>
					</div>

				</div>

				<div class="col-md-10 mb-4 syllabus">

					<div class="card">

						<div>
							<h4 class="mb-3 mb-sm-2 pt-1"> Syllabus</h4>
							<div class="p-2">
								<ul class="list-group">
									<li class="list-group-item" *ngFor="let item of course.syllabus">{{item}}</li>
								</ul>
								<input (keydown)="addNew($event)" placeholder="Add new" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="newSyllabus">
							</div>
						</div>

					</div>
				</div>

			</div>

		</main>
	</div>
</div>


<!-- <div class="view container">
	<div class="row">
		<div class = "col-lg-4">
		<h1>
			Welcome to Course {{courseCode}}
		</h1>
		<button type="button" class="btn btn-success" (click)="startSession()">Live Classroom Session</button>
		<hr>
		</div>
		<div class="col-lg-8">
			<div id="meet" class="">
			</div>
		</div>
	</div>
</div> -->
